<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>Mind The Crash</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Mind The Crash</ion-title>
        </ion-toolbar>
      </ion-header>

      <div id="container">
        <strong>Ready to crash the app?</strong>
        <p>
          <ion-button @click="takePhoto">Take photo</ion-button>
        </p>
        <p>File path -> {{filepath}}</p>
        <p>
          <ion-button @click="deletePhoto">Delete File To Crash</ion-button>
        </p>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { Plugins, CameraResultType, CameraSource } from "@capacitor/core";

const { Camera, Filesystem } = Plugins;

import {
  IonButton,
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar
} from "@ionic/vue";

export default {
  name: "Home",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonButton
  },
  data() {
    return {
      filepath: ""
    };
  },
  methods: {
    async takePhoto() {
      console.log("taking photo");
      const image = await Camera.getPhoto({
        quality: 50,
        source: CameraSource.Camera,
        resultType: CameraResultType.Uri,
        allowEditing: false
      });

      this.filepath = image.path;

      console.log(image);
    },

    async deletePhoto() {
      if (this.filepath) {
        await Filesystem.deleteFile({
          path: this.filepath,
          directory: ""
        });
      } else {
        alert("Take a photo first");
      }
    }
  }
};
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>